@import "../../../../_variables";
.topbar{
  height: 50px;
  background: $main-color;
  color: #ffffff
}
.blue-back-color{
  background: $main-color
}
.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
  width: 180px;
  padding: 0;
  background-color: $main-color;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.maincontent {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.mainLeftMove {
  left: -180px;
}
.main-not-move {
  left: 0px;
}
.topbar span {
  color: $nav-span-font-color;
}
.sidebar-title-icon{
  vertical-align: text-top;
  transform: rotate(90deg);
}
