<nav class="navbar navbar-toggleable-md navbar-light fixed-top topbar">
  <button type="button" class="navbar-toggler navbar-toggler-left" data-target="#leftNavs"
          aria-label="Toggle navigation">
    <a (click)="leftNavShow=!leftNavShow"><span class="navbar-toggler-icon"></span></a>
  </button>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" (click)="leftNavShow=false"></span>
  </button>
  <div class="collapse navbar-collapse topbar" id="navbarSupportedContent">
    <ul class="nav navbar-nav blue-back-color">
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">
          <span>{{ "ABOUT" | translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active">
          <span>{{ "LOGOUT" | translate }}</span>
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 blue-back-color">
      <app-lang-switcher></app-lang-switcher>
    </form>
  </div>
</nav>
<div class="container-fluid mainBottom" >
  <div class="sidebar" id="#leftNavs" *ngIf="leftNavShow">
    <app-navs *ngFor="let menu of menus" [menu]="menu"></app-navs>
  </div>
  <div class="container-fluid maincontent"
       [ngClass]="{'mainLeftMove': !leftNavShow, 'main-not-move': leftNavShow}">
    <router-outlet></router-outlet>
  </div>
</div>
