$navbar-height: 50px;
$footer-height: 50px;
$sidebar-width: 200px;
$aside-menu-width: 250px;
$sidebar-minimized-width: 50px;
$mobile-sidebar-width: 220px;
$sidebar-compact-width: 150px;

$navbar-color: #005ca2;
$navbar-brand-bg: #005ca2;

$nav-span-font-color: white;
$main-color: #005ca2;

$layout-transition-speed: .25s;
$aside-menu-nav-padding-y: .75rem;
