<li class="dropdown">
  <a href="#" data-toggle="dropdown" (click)="clickTree()">
    <i class="fa fa-home fa-fw sidebar-title-icon"></i>
    {{menu.title}}
    <i class="icon-arrow"  [ngClass]="{open: isActive, close: !isActive}"></i>
  </a>
  <ul class="dropdown-menu" [ngClass]="{show: isActive, hiden: !isActive}">
    <li *ngFor="let item of menu.tf_Menus">
      <a routerLink='{{item.routeId}}'>
        <i class="fa fa-book fa-fw"></i>
        {{item.title}}
      </a>
    </li>
  </ul>
</li>
