@import "../../../../assets/scss/_variables";
a:link, a:visited, a:hover, a:active, span {
  color:$nav-span-font-color;
  text-decoration:none;
}
.sidebar-title {
  height: 40px;
  color: #fff;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
}
.nav-title{
  overflow: hidden;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px;
}
li {
  list-style-type:none;
}
.nav-icon {
  width: 50px;
  text-align: center;
  font-size: 16px;
  float: left;
  color: #aeb9c2;
}
.sidebar-trans{
  -o-transition: all 0.12s ease, 0.12s ease;
  -ms-transition: all 0.12s ease, 0.12s ease;
  -moz-transition: all 0.12s ease, 0.12s ease;
  -webkit-transition: all 0.12s ease, 0.12s ease;
}
.nav-ul {
  padding: 0px;
}
.sidebar-title-inner{

}
.sidebar-title-icon{
  display: inline-block;
  margin: 0 8px 0 20px;
  vertical-align: middle;
  transition: transform 0.12s;
  -o-transition: -o-transform 0.12s;
  -ms-transition: -ms-transform 0.12s;
  -moz-transition: -moz-transform 0.12s;
  -webkit-transition: -webkit-transform 0.12s;
}
