<nav class="nav flex-column">
  <div class="sidebar-title" (click)="clickTree()" [ngClass]="{active: isActive}">
    <i class="fa fa-home fa-fw sidebar-title-icon"></i>
    <span class="sidebar-title">{{menu.title}}</span>
  </div>
  <ul class="nav-ul" *ngIf="isActive" >
    <li class="nav-item" *ngFor="let item of menu.tf_Menus">
      <a routerLink='{{item.routeId}}' (click)="clickWord(item)" [ngClass]="{wordColor : isWord==item}">
        <div class="nav-icon sidebar-trans">
          <i class="fa fa-book fa-fw"></i>
        </div>
        <span class="nav-title">{{item.title}}</span>
      </a>
    </li>
  </ul>
</nav>
