<div class="container login">
  <h1 align="center">系统管理平台</h1>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="name">用户名</label>
      <input type="text" class="form-control" id="name" name="name"
             required [(ngModel)]="name" autocomplete="off" >
    </div>
    <div class="form-group">
      <label for="password">密码</label>
      <input type="password" class="form-control" id="password" autocomplete="off"
             name="password" required [(ngModel)]="password">
    </div>
    <div *ngIf="!success" class="alert alert-danger">
      {{"USER_OR_PASSWORD_IS_NOT_RIGHT" | translate}}
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid"
            data-toggle="modal" data-target="#myModal">Submit</button>
  </form>
</div>
